@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #131313;
  --background-light: rgb(46, 46, 46);

  --foreground: #fff;
  --text-green: #07ae5e;
  --background-green: #07ae5e;
  --text-white: #fff;
  --text-dark: rgb(19, 19, 19);
  --text-gray: rgb(243 244 246 / 0.75);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #fff;
  }
} */
html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-gray);
  background: var(--background-dark);
  font-family: 'Nunito', serif;
}
