@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: rgb(19, 19, 19);
  --background-light: rgb(46, 46, 46);

  --foreground: #fff;
  --text-green: #2dd081;
  --background-green: #2dd081;
  --text-white: #fff;
  --text-dark: rgb(19, 19, 19);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #fff;
  }
} */

body {
  color: var(--foreground);
  background: var(--background-dark);
  font-family: 'Nunito', serif;
}
